<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <!-- <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %> -->
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "Home", root_url %>
	<%= link_to "Bands", bands_url %>
	<%= link_to "Albums", albums_url %>
	<%= link_to "Tracks", tracks_url %>
	<% if logged_in? %>
	<%= button_to("Logout", session_url,
		   :action => "destroy", 
		   :id => current_user.token, 
		   :method => :delete) %>
    <% end %>
<%= yield %>

</body>
</html>
